body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Lora', serif;
}

.jumbotron {
    background-color: #fbe1e1;
    height: 100vh;
    /* background-size: cover; */
}

#github-icon, #linkedin-icon {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 35px;
    width: 35px;
}

#github-icon:hover, #linkedin-icon:hover {
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.display-4, .page-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.sub-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    border-bottom: 2px solid black;
}

p, label, #form-control {
    font-family: 'Lora', serif;
}

.lead {
    font-family: 'Lora', serif;
}

h7 {
    font-family: 'Montserrat', sans-serif;
}

a:link {
    color: black;
    font-family: 'Lora', serif;
}

a:visited {
    color: grey;
}

#me {
    border-radius: 50%;    
    height: 150px;
    width: 150px; 
}

.skill-percentage {
    background-color: black;
    border: 2px solid white;
    border-radius: 9px;
    height: 10px;
    padding: 0px;
}

.skill-container {
    background-color: white;
    border: 2px solid black;
    border-radius: 9px;
    height: 13px;
    padding: 0px;
    width: 400px;
    margin-top: 5px;
}

#skill-1 {
    width: 370px;
}

#skill-2 {
    width: 370px;
}

#skill-3 {
    width: 300px;
}

#skill-4 {
    width: 300px;
}

#skill-5 {
    width: 250px;
}

#skill-6 {
    width: 100px;
}

input.btn {
    background: black;
    color: white;
    font-family: 'Lora', serif;
}

input.btn:hover {
    background: white;
    color: black;
    border: 2px solid black;
    font-weight: bold;
    font-family: 'Lora', serif;
}

input.form-control, textarea.form-control, .card-title, .card-text {
    font-family: 'Lora', serif;
}

.card-body {
    border-radius: 0px;
    border: 1px solid black;
}

.card-body:hover {
    border: 2px solid black;
}

#projects, #skills, #contact {
    height: 100vh;
}

#resume-row {
    margin-left: 3px;
}

#project-card:hover {
    cursor: pointer;
}